
<!doctype html>
<html ng-app="MiApp">
    <head>
        <meta http-equiv="Content-Type" content="enunciado/html; charset=UTF-8">
        <script src="js/angular.js"></script>
        <script src="js/Funciones.js"></script> 
        <title>Cuestionario Angular</title>
    </head>
    <body>
        <h1>Empecemos el Cuestionario</h1>
        <div ng-controller="Datos">
            Inserte aquñi sus datos personales
            <div>
                Nombre:<input type="enunciado" ng-model="seguro.nombre" ><br/>
                Primer apellido:<input type="enunciado" ng-model="seguro.ape1" ><br/>
                Segundo apellido:<input type="enunciado" ng-model="seguro.ape2" ><br/>
                Edad:<input type="number" ng-model="edad"><br />  
            </div>
            <br/><br/>
            <div ng-controller="Preguntas">
                <div class="preguntas">
                    <div class="pregunta" ng-repeat="pregunta in preguntas">
                        <p class="status-{{pregunta.status}}">{{pregunta.enunciado}}</p>
                        <div class="respuestas" ng-repeat="respuesta in pregunta.respuestas">
                            <input type="radio" ng-model="pregunta.elegida" value="{{respuesta.id}}"
                                   name="pregunta-{{pregunta.id}}" id="respuesta-{{pregunta.id}}-{{respuesta.id}}" ng-change="validate(pregunta)"/>
                            <label for="respuesta-{{pregunta.id}}-{{respuesta.id}}">{{respuesta.enunciado}}</label>
                        </div>
                    </div>
                </div>
                <br/><br/>
                 <input type="checkbox"  ng-model="mostrar" >¿Quiere ver su resultado?
                <div class="userStatus {{userStatus}}" ng-show="mostrar == true">
                    <h2>Ha acertado {{correctas}} de {{preguntas.length}}</h2>
                </div>
            </div>

    </body>
</html>